@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*{
    box-sizing: border-box;
}

body{
   margin: 0;
   font-family: "Italiana", sans-serif;
   background-color: #eee;
}